<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href="/node/toastr/build/toastr.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/mainController.js"></script>
    <script type="text/javascript" src="/node/toastr/build/toastr.min.js"></script>
    <script>
      toastr.options = {
          "closeButton": false,
          "debug": true,
          "newestOnTop": false,
          "progressBar": false,
          "positionClass": "toast-bottom-center",
          "preventDuplicates": false,
          "onclick": null,
          "showDuration": "300",
          "hideDuration": "1000",
          "timeOut": "5000",
          "extendedTimeOut": "1000",
          "showEasing": "swing",
          "hideEasing": "linear",
          "showMethod": "fadeIn",
          "hideMethod": "fadeOut"
        };
      var userLogged = "<%= userName %>";
  </script>
  </head>
  <body class="bg-gray">
    <div id="admin" class="">
      <navigation></navigation>
      <div clas="row ">
        <div class="col-md-3 col-lg-2">
            <div class="side-navigation">
              <ul style="padding:5px">
                  <li class="side-nav-list"><a data-toggle="pill" class="side-navigation-element darkblue montserrat fw400"  href="#users">Käyttäjät</i></a></li>
                  <li class="side-nav-list"><a data-toggle="pill" class=" side-navigation-element darkblue montserrat fw400"  href="#orders">Tilaukset</i></a></li>
                  <li class="side-nav-list"><a data-toggle="pill" class=" side-navigation-element darkblue montserrat fw400"  href="#campaigns">Kampanjat</i></a></li>
                  <li class="side-nav-list"><a href="/artists" class="darkblue montserrat side-navigation-element fw400" >Oma sivu</i></a></li>
                  <li class="side-nav-list"><a href="/logout" class="darkblue montserrat side-navigation-element fw400" >Kirjaudu ulos</i></a></li>
              <ul>
          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="tab-content" id="admin">
            <div id="users" class="tab-pane fade in active">
              <div class="row">
                <user-main></user-main>
              </div>
            </div>
            <div id="orders" class="tab-pane fade">
              <orders></orders>
            </div>
            <div id="campaigns" class="tab-pane fade">
              <campaigns-main></campaigns-main>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <script type="text/javascript" src="/node/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/vueComponents.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/admin.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/orders.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/users.js"></script>
    <script type="text/javascript" src="/javascripts/dist/controller/campaigns.js"></script>
    <script>
      new Vue({
        el: '#admin'
      })  
    </script>
  </body>
</html>