<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href="/node/toastr/build/toastr.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99329231-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-99329231-2');
    </script>

  </head>
  <body class="bg-main">
    <div class="gray-curtain"></div>
    <div class="row" id="userApp">
      <div class="m5">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 bg-white artist-main">
          <h2 class="montserrat fw700 darkblue" style="margin-top:2px"><img src="../images/logo.png" height="38px">  Tervetuloa <%= user.name %> <button-balance></button-balance><a href="/logout" style="float:right;" class="btn btn-luovat btn-sm">Kirjaudu ulos</a></h2>
          
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#orders">Vapaat keikat</a></li>
            <li><a data-toggle="tab" href="#myorders">Omat keikat</a></li>
            <li><a data-toggle="tab" href="#settings">Asetukset</a></li>
            <li><a data-toggle="tab" href="#info">Tervetuloa</a></li>
          </ul>

          <div class="tab-content">
            <div id="orders" class="tab-pane fade in active">
              <orders></orders>
            </div>
            <div id="myorders" class="tab-pane fade">
              <my-orders></my-orders>
            </div>
            <div id="settings" class="tab-pane fade">
              <edit-artist></edit-artist>
            </div>
            <div id="info" class="tab-pane fade" style="padding:40px;">
              <center>
                <h1 class="montserrat fw700">Tervetuloa</h1>
                <p>Olet täyttänyt hakukriteerimme ja olet tervetullut kuvaajaverkostoomme. Lue alla olevat ohjeet vielä ennen kuin aloitat kuvaamisen Luovilla.</p><br>
              </center>                
              <p><strong>KEIKKOJEN SAANTI:</strong></p>
              <p>Kaikki keikkatarjoukset tulevat sähköpostiisi. Kun saat tiedon uudesta keikasta kannattaa sen sisältö lukea läpi ja jos
              päivämäärä sopii sinulle käy HETI ilmoittautumassa keikalle. Järjestelmä ottaa vastaan kolme ensimmäistä keikan
              varaajaa ja lähettää asiakkaalle näiden kuvaajien showreelit joista asiakas valitsee tekijän. Näin ollen pidäthän mielessä
              että oma showreelisi jonka olet meille lähettänyt toimii sinun henkilökohtaisena myyntityökaluna. Päivitämme sinun
              showreelisi aina kun sitä toivot.</p><br>
              <p><strong>KEIKOILLE ILMOITTAUTUMINEN:</strong></p>
              <p>Keikoille ilmoittautuminen on sitovaa. Jos otat keikan vastaan, et voi sitä enää perua, varsinkaan jos asiakas on valinnut
              juuri sinut kuvaajaksi. Keikan tekemättä jättäminen johtaa lopulliseen poistamiseen kuvaajavekostostamme.
              Sairastapauksissa lääkärintodistusta vastaan voi keikan perua 72 tuntia ennen keikan alkua.</p><br>
              <p><strong>KILPAILUKIELTO:</strong></p>
              <p>Meillä ei ole kilpailukieltoa. Voit tehdä videotuotantoja missä vain hinnoista riippumatta. Kuitenkin jos olet saanut asiakkaan
              kauttamme et voi tehdä jatkossa asiakkaalle suoraan keikkoja. Keikkojen on tultava AINA kauttamme. Kuitenkin jos
              asiakas on tykännyt työnjäljestäsi ja haluaa tehdä juuri sinun kanssasi jatkossakin videot, pidämme huolen siitä, että juuri
              sinä saat ne tehdä. Sääntörikkomus johtaa lopulliseen poistamiseen kuvaajaverkostostamme.</p><br>
              <p><strong>LASKUTUS:</strong></p>
              <p>Kun keikka on tehty, saat laskuttaa Luovia haluamallasi tavalla. Joko suoraan laskulla tai laskutuspalvelun kautta.</p><br>
              <p>Ystävällisin terveisin,
                <br><strong>Luovat.com tiimi</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/node/toastr/build/toastr.min.js"></script>
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/node/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/vueComponents.js"></script>
    <script type="text/javascript" src="/javascripts/controller/user.js"></script>
  </body>
</html>