<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js"></script>
  </head>
  <body class="bg-main">
    <div class="row" id="userApp">
      <div class="m5">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 bg-white artist-main">
          <h2 class="montserrat fw700 darkblue" style="margin-top:2px"><img src="../images/logo.png" height="38px">  Tervetuloa <%= user.name %> <button-balance></button-balance><a href="/logout" style="float:right;" class="btn btn-luovat btn-sm">Kirjaudu ulos</a></h2>
          
          <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#orders">Vapaat keikat</a></li>
            <li><a data-toggle="tab" href="#myorders">Omat keikat</a></li>
            <li><a data-toggle="tab" href="#settings">Asetukset</a></li>
          </ul>

          <div class="tab-content">
            <div id="orders" class="tab-pane fade in active">
              <orders></orders>
            </div>
            <div id="myorders" class="tab-pane fade">
              <my-orders></my-orders>
            </div>
            <div id="settings" class="tab-pane fade">
              <edit-artist></edit-artist>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/node/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/vueComponents.js"></script>
    <script type="text/javascript" src="/javascripts/controller/user.js"></script>
  </body>
</html>