<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js"></script>
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
    <nav class="navbar navbar-inverse navbar-fixed-top" id="luovat-navbar">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="position:fixed"><img class="plaster" style="height:40px;display:inline-block;margin-right:5px;margin-top:-10px" src="./images/logo.png"><span style="color:white;font-size:24px;display:inline-block;padding-top:10px;" class="montserrat nav-logo-text">LUOVAT.COM</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbarCollapse" >       
          <ul class="nav navbar-nav navbar-center">
            <li><a class="nav-page-link" style="color:white;" href="#company">YRITYS</a></li>
            <!-- <li><a class="nav-page-link" style="color:white;" href="#sample">TÖITÄMME</a></li> -->
            <li><a class="nav-page-link" style="color:white;" href="#order"><span>TILAA VIDEO</span></a></li>
            <li><a class="nav-page-link" style="color:white;" href="#rekry">REKRY</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="margin:10px;">
            <li><span>
              <a href="#order" class="nav-page-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
              <a href="#rekry" class="nav-page-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="#company" class="nav-page-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="#company" class="nav-page-link"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
              <a href="/login" class="nav-page-link"><i class="fa fa-key" aria-hidden="true"></i></a>
            </span></li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="mainApp">
        <div id="main" class="row">
          <div class="gray-curtain"></div>
          <div class="col-md-12 white" style="height:100%"> 
            <div class="centered text-center">
              <!-- <h1 class="montserrat fw700"> 
                LUOVAT.COM
              </h1> -->
              <h2 class="montserrat fw700" style="margin-bottom:5px;text-transform:uppercase;">
                Uusi vaivaton tapa tilata videoita
              </h2>
              <h4 class="montserrat fw700" style="margin-bottom:25px;text-transform:uppercase;">
                Videot urakkahinnoin edullisesti
              </h4>
              <a style="color:white;margin-left:0px;" class="btn btn-luovat btn-sm" id="play-sample-video">Näin tilaat</a>
              <a style="color:white;" class="btn btn-luovat btn-sm" href="#order">Tilaa video</a>
              <a style="color:white;" class="btn btn-luovat btn-sm" id="play-rekry-video" href="#rekry">Rekry</a>
            </div>
          </div>
        </div>
        <div id="company" class="row bg-white" style="height:400px;">
          <div class="col-md-5 hide1010" style="height:100%">
            <div class="container-fluid" style="height:100%">
                <img src="../images/LuovaUkkeli2.png" width="60%" style="position:absolute;bottom:0px;left:50%;transform:translateX(-50%)">
            </div> 
          </div>
          <div class="col-md-7  col-sm-12 r-mm" style="height:100%;"> 
            <div class="centered text-center">
               <h2 class="green montserrat"> 
                LUOVAT YRITYKSENÄ
              </h2> 
              <h3 class="montserrat fw200">
                Olemme luotettava videotuotantokumppanisi.
                Tarjoamme videotuotantopaketteja, jotka ovat räätälöityjä helpottamaan tilausta.<br><br>
                <span class="montserrat fw200" style="font-size:14px">Ei yllätyskuluja eikä hankalia tuotantoja.</span>
              </h3>
              <a class="btn btn-luovat btn-sm black" data-toggle="modal" data-target="#infoModal">
                Lue lisää ..
              </a>
            </div>
          </div>
        </div>
        <!-- <div id="sample" class="row company_bg">
          <div class="col-md-12" style="height:400px;">
            <center>
                <div class="gray-curtain"></div>
                <div class="gray-curtain"></div>
                <div class="centered">
                  <h1 class="white">Katso esittelyvideo</h1>
                  <button id="play-sample-video" class="btn btn-play white"><i class="fa fa-play"></i></button>
                </div>
            </center>
          </div>
        </div> -->
        <div id="order" class="row bg-blue r-m _bg-paper" style="z-index:5">
          <order-form></order-form>
        </div>
        <div id="rekry" class="row bg-rekry white" style="height:500px;">
          <div style="height:100%">    
              <div class="col-md-12 text-center" style="height:100%"> 
                <div class="gray-curtain" style="height:100%">
                    
                </div>
                <div class="centered">
                    <h6 class="green montserrat"> 
                      LUOVAT.COM
                    </h6>
                    <h2 class="">
                      HALUATKO KUVAAJAKSI LUOVIEN TIIMIIN
                    </h2>
                    <h4 class="montserrat fw200" style="margin-bottom:25px;font-size:20px;">
                      Etsimme jatkuvasti kuvaajia kaikkialta Suomesta<br>
                    </h4>
                    <a class="btn btn-luovat white" data-toggle="modal" data-target="#rekryInstruction">
                        Hakuohje
                      </a>
                    <a class="btn btn-luovat white" data-toggle="modal" data-target="#rekryModal">
                      Hakulomake
                    </a>
                </div>
              </div>
              <div class="bg-main collapse" id="rekryCollapse">
              
              </div>          
          </div>
        </div>
        <div id="footer" class="row bg-black r-m">
          <div class="col-md-3 col-md-offset-1">
            <p class="montserrat fw400">LUOVAT.COM</p><br>
            <p class="montserrat fw100">info@luovat.com</p>
            <p class="montserrat fw100">0405602141</p>
            <p class="montserrat fw100">2345667-0</p>
          </div>
          <div class="col-md-3 col-md-offset-4">
            <p style="float:right;">
                <a href="#order" class="white m10"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#rekry" class="white m10"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#company" class="white m10"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                <a href="#company" class="white m10"><i class="fa fa-vimeo" aria-hidden="true"></i></a>  
            </p>      
          </div>
        </div>

        <div id="video-modal" class="modal fade" role="dialog">
          <div class="centered">
            <iframe id="video-source" src="" width="1000" height="562" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>

        <div id="infoModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title opensans green">TIETOA MEISTÄ</h4>
              </div>
              <div class="modal-body">
                <p class="m20">
                  Videot ovat nykypäivänä yksi tärkeimmistä ja käytetyimmistä markkinoinnin muodoista.
                  Haluamme laskea kynnystä kevyiden videotuotantojen tilaukselle ja tarjota vaivatonta tapaa
                  tilata videoita myös pienemmällä budjetilla.<br><br>
                  Meidän kauttamme voit nopeasti ja luotettavasti tilata videotuotantoa esimerkiksi
                  yritystapahtumiin ja sisäisen viestinnän tueksi tai yritysesittelyyn omasta yrityksestäsi.
                  Toimintamallissamme on sivuutettu hintavat välikädet sekä muut ylimääräiset
                  kulut. Tarjoamme kustannustehokkaampaa videotuotantoa kaikille. Asiakaskuntaamme
                  kuuluvat niin suuret kuin pienetkin yritykset, sekä yksityishenkilöt.<br><br>
                  Missiomme on tarjota helposti ja vaivattomasti tilattavaa videotuotantoa ja visiomme on olla
                  koko Suomen kattava videotuotantoverkosto, joka työllistää innokkaita ja luovia alan
                  ammattilaisia.
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
              </div>
            </div>
          </div>
        </div>

        <div id="rekryInstruction" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title opensans green">REKRY</h4>
              </div>
              <div class="modal-body">
                <p class="m20">Oletko luova ja innokas alan osaaja? Jos videotuotantojen teko kiinnostaa opintojesi tai muiden töiden ohella, hae rohkeasti kuvaajaverkostoomme.<br><br>Kanssamme pääset ohjatusti sekä omatoimisesti kehittymään tuotantojen eri osa-alueissa. Tarjoamme erittäin joustavan sekä motivoivan tavan tienata.<br><br>
                Pääset tekemään mieluisia keikkoja lähelläsi, kun sinulle sopii. Keikat tulevat esiin keikkakalenteriin, josta voit toivomasi keikat napata.</p>
                <h6 class="montserrat fw500 m20" style="line-height:20px;">
                  HAKUPROSESSI:
                  <li>1. Täytä ja lähetä oheinen lomake</li>
                  <li>2. Paluuviestinä saat hakuohjeet</li>
                  <li>3. Lähetä hakemus</li>
                  <li>4. Haastattelu tai puhelinhaastattelu</li>
                  <li>5. Saat tunnukset keikkakalenteriin</li>
                </h6>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
              </div>
            </div>
          </div>
        </div>

        <div id="compare" class="modal modal-lg fade" role="dialog">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title opensans green">Vertaile paketteja</h4>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <tr>
                      <th>Paketti:</th>
                      <td>SMALL</td>
                      <td>MEDIUM</td>
                      <td>LARGE</td>
                    </tr>
                    <tr>
                      <th>Kuvausta:</th>
                      <td>1-2 h</td>
                      <td>3-4 h</td>
                      <td>5-7 h</td>
                    </tr>
                    <tr>
                      <th>Kalusto:</th>
                      <td>Kamera, mikki</td>
                      <td>Kamera, mikki ja valo</td>
                      <td>Kamera, mikki ja valot</td>
                    </tr>
                    <tr>
                      <th>Editointi:</th>
                      <td>1,5 pv</td>
                      <td>2 pv</td>
                      <td>2,5 pv</td>
                    </tr>
                    <tr>
                      <th>Korjauskierrokset:</th>
                      <td>1 kpl</td>
                      <td>2 kpl</td>
                      <td>3 kpl</td>
                    </tr>
                    <tr>
                      <th>Hinta:</th>
                      <td>790€</td>
                      <td>990€</td>
                      <td>1390€</td>
                    </tr>
                  </table>

                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                </div>
              </div>
            </div>
          </div>

        <div id="rekryModal" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title opensans green">HAKULOMAKE</h4>
              </div>
              <div class="modal-body">
                <rekry-form></rekry-form>
              </div>
            </div>

          </div>
        </div>
     </div>


    <script type="text/javascript" src="/javascripts/mainController.js"></script>
    <script type="text/javascript" src="/node/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/vueComponents.js"></script>
    <script type="text/javascript" src="/javascripts/controller/main.js"></script>
  </body>
</html>
