<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/dashboard.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>
<body style="background-image:url(../images/main-bg.jpg);background-size:cover;background-position:bottom;background-repeat:no-repeat;height:100%">
    <div class="gray-curtain"></div>
    <div class="row" >
        <div class="col-md-4 col-md-offset-4">
            <div class="well bg-blue" class="" style="margin-top:100px;padding:50px;border:none;">
                <form method="post" action="/artists/login">
                    <center>
                        <h1 class="montserrat white fw700">KIRJAUDU</h1>
                        <img src="../images/logo.png" width="30%" style="margin:20px">
                    </center>
                    <label for="montserrat white fw400 email" style="color:#EEE;">Sähköposti</label>
                    <input id="email" name="email" class="form-control" type="email" placeholder="Sähköposti">
                    <label for="montserrat white fw400 password" style="color:#EEE">Salasana</label>
                    <input id="password" name="password" class="form-control" type="password" placeholder="Salasana">
                    <br>
                    <center>
                        <button type="submit" class="btn btn-md btn-luovat white" style="width:50%">Kirjaudu</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>