<!DOCTYPE html>
<html>
  <head>
    <title>Luovat.com| Kuvaamme sinun mainosvideosi</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description=" content="Osta edulliset videotuotannot Luovilta. Luovat.com on videoiden asiantuntija! Teemme teille haastattelut, mainokset, ilmakuvaukset ja vaikka mitä.">
    <link rel="icon" type="image/png" href="./images/favicon.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' media="none" onload="if(media!='all')media='all'" media="none" onload="if(media!='all')media='all'"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="none" onload="if(media!='all')media='all'">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" async></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js" async></script>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99329231-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-99329231-2');
    </script>
  </body>
</html>