<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/3b80c8e746.js"></script>

  </head>
  <body>
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="row" id="selectApp">
                <div class="col-md-10 col-md-offset-1">
                    <div class="row text-center mud60">
                        <h4 class="gray" style="margin-bottom:0px;">Kolme kuvaajaa sinulle</h4>
                        <h1 class="green" style="margin-top:0px;">Valitse sinulle sopiva kuvaaja</h1>
                    </div>
                    <div class="row">
                        <select-artist></select-artist>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript"> var users = <%-JSON.stringify(data)%>;</script>
    <script type="text/javascript" src="/javascripts/moment.js"></script>
    <script type="text/javascript" src="/node/vue/dist/vue.min.js"></script>
    <script type="text/javascript" src="/javascripts/vueComponents.js"></script>
    <script type="text/javascript" src="/javascripts/controller/select-artist.js"></script>
  </body>
</html>