<!DOCTYPE html>
<html>
    <head>
        <title>Luovat.com| Parhaat tekijät</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <meta charset="utf-8">
        <meta name="keywords" content="mainosvideo, Luovat.com, video, videotuotanto, osta, haastattelu, yritysvideo, ilmakuvaus">
        <meta name="author" content="Petteri Ponkamo">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow" />
        <meta name="description=" content="Osta edulliset videotuotannot Luovilta. Luovat.com on videoiden asiantuntija! Teemme teille haastattelut, mainokset, ilmakuvaukset ja vaikka mitä.">
        <link rel="canonical" href="https://www.apogee.fi/mainosvideo/" />
        <meta property="og:locale" content="fi_FI" />
        <meta property="og:type" content="article" />
        <meta property="og:title" content="Videotuotanto - Luovat.com" />
        <meta property="og:url" content="https://www.luovat.com/" />
        <meta property="og:site_name" content="Luovat.com" />
        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="Videotuotannot netistä - Luovat.com" />
        <link rel="icon" type="image/png" href="./images/favicon.png" />
        <link rel='stylesheet' href='/stylesheets/style.css' media="none" onload="if(media!='all')media='all'" media="none" onload="if(media!='all')media='all'"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="none" onload="if(media!='all')media='all'">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" async></script>
        <script src="https://use.fontawesome.com/3b80c8e746.js" async></script>
    </head>
    <body class="bg-main">
        <nav class="navbar navbar-inverse navbar-fixed-top" id="luovat-navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="position:fixed"><img class="plaster" style="height:40px;display:inline-block;margin-right:5px;margin-top:-10px" src="./images/logo-videotuotanto-video-luovat-small.png" alt="Osta mainosvideo luovat.com edullisesti"><span style="color:white;font-size:24px;display:inline-block;padding-top:10px;" class="montserrat nav-logo-text">LUOVAT.COM</span></a>
                </div>
            <div class="collapse navbar-collapse" id="navbarCollapse" >       
                <ul class="nav navbar-nav navbar-center">
                  <li><a class="nav-page-link" style="color:white;" href="https://www.luovat.com">ETUSIVU</a></li>
                  <!-- <li><a class="nav-page-link" style="color:white;" href="#sample">TÖITÄMME</a></li> -->
                  <li><a class="nav-page-link" style="color:white;" href="https://www.luovat.com/#order"><span>TILAA VIDEO</span></a></li>
                  <li><a class="nav-page-link" style="color:white;" href="https://www.luovat.com/#rekry">REKRY</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="margin:10px;">
                  <li><span>
                    <a href="#order" class="nav-page-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#rekry" class="nav-page-link"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#company" class="nav-page-link"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#company" class="nav-page-link"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
                    <a href="/login" class="nav-page-link"><i class="fa fa-key" aria-hidden="true"></i></a>
                  </span></li>
                </ul>
              </div>
            </div>
        </nav>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="row r-mm">
                    <center>
                        <h1 class="white fw700 montserrat">Miten valitsen oikean paketin?</h1>
                    </center>
                </div>
                <div class="row">
                    <div class="well">
                        <div class="m20">
                            <br>
                            <h2 class="montserrat fw700 darkblue">Videotuotantopaketit lyhyesti</h2>
                            <br>
                            <p><strong>SMALL</strong></p>
                            <p>Pienin pakettimme sisältää muutaman tunnin kuvauksen sekä yhden päivän jälkituotannon. Paketti soveltuu esimerkiksi haastatteluiden taltiontiin.</p>
                            <p><strong>MEDIUM</strong></p>
                            <p>Keskikokoinen pakettimme mahdollistaa puolen päivän kuvauksen sekä joustavamman jälkituotannon. Paketti soveltuu esimerkiksi tapahtumien taltiointiin.</p>
                            <p><strong>LARGE</strong></p>
                            <p>Iso pakettimme tarjoaa esituotantoa, kokonaisen kuvauspäivän sekä laajemman jälkituotannon. Kyseinen tuotanto mahdollistaa mm. yritysvideon.</p>      
                            <br>
                            <br>
                        </div>
                        <div class="m20">
                            <h2 class="montserrat fw700 darkblue">Pakettien vertailutaulukko</h2>
                            <table class="table" >
                                <tr>
                                    <td style="border:none" class="text-center bg-white"><h1 class="plaster darkblue" style="font-size:50px">S</h1></td>
                                    <td style="border:none" class="text-center bg-white"><h1 class="plaster darkblue" style="font-size:50px">M</h1></td>
                                    <td style="border:none" class="text-center bg-white"><h1 class="plaster darkblue" style="font-size:50px">L</h1></td>
                                </tr>
                                <tr>
                                    <td>1-2 h kuvausta</td>
                                    <td>3-4 h kuvausta</td>
                                    <td>5-7 h kuvausta</td>
                                </tr>
                                <tr>
                                    <td>Kamera, mikki        </td>
                                    <td>Kamera, mikki ja valo</td>
                                    <td>Kamera, mikki ja valot</td>
                                </tr>
                                <tr>
                                    <td>1,5 pv editointia</td>
                                    <td>2 pv editointia</td>
                                    <td>2,5 pv editointia</td>
                                </tr>
                                <tr>
                                    <td>1 korjauskierros</td>
                                    <td>2 korjauskierrosta</td>
                                    <td>3 korjauskierrosta</td>
                                </tr>
                                <tr>
                                    <td>690€</td>
                                    <td>990€</td>
                                    <td>1390€</td>
                                </tr>
                            </table>
                        </div>
                        <div class="m20">
                            <br>
                            <h2 class="montserrat fw700 darkblue">Mitä muuta?</h2>
                            <br>
                            <p><strong>Tekstitys</strong></p>
                            <p>Luovat.com tarjoaa videoihin myös tekstitystä. Esimerkiksi Facebook suosii tekstitettyjä videoita sivuillaan. Hanki siis lisää näkyvyyttä helpolla. Tekstitykset saat videoosi 50 € lisähintaan.</p>
                            <p><strong>Ilmakuvaus</strong></p>
                            <p>Jos haluat sisällyttää videoihisi vaikuttavia maisemia, yrityksesi toimitiloja tai haluat muuten vain uutta näkökulmaa asiasi esittämiseen, ilmakuvaus on sinun juttusi. 100€ hintaan saat kuvaus paikalle mukaan drone kameran osaavan kuvaajan kera.</p>
                            <p><strong>Voice Over</strong></p>
                            <p>Pehmeä, hyvin artikuloiva ja vakuuttava selostus videosi taustalle? Onnistuu! Hyvin tehty voice over antaa todellakin ammattimaisen vaikutelman yritysvideoosi. Voice overin hinta määritellään käsikirjoituksen mukaan tapauskohtaisesti.</p>      
                        </div>
                        <div class="m20">
                            <br>
                            <h2 class="montserrat fw700 darkblue">Tilaaminen</h2>
                            <br>
                            <p>Luovat.com on suomalainen luotettava videotuotantojen tarjoaja. Ostaminen on helppoa eikä tilauksen lähettäminen sido sinua vielä mihinkään. Asiakaspalvelijamme ovat yhteydessä jokaiseen tilaajaan ennen virallista toimeksiantoa. Asiakaspalvelijamme huolehtivat, että videotuotantosi onnistuu ja saat juuri haluamasi laisen videon.<br><br>Kun tilauksesi on käsitelty saat valita itse kuvaajan videollesi. Ennen valintaa voit katsoa kunkin kuvaajavaihtoehdon parhaat otokset, jotta löydät tyyliisi sopivan tekijän.</p>
                        </div>
                        <div class="r-m">
                            <center>
                                <a class="btn btn-lg btn-luovat blue" href="https://www.luovat.com/#order">Siirry videoiden tilaukseen</a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="row bg-black r-m">
            <div class="col-md-3 col-md-offset-1">
                <p class="montserrat fw400">LUOVAT.COM</p><br>
                <p class="montserrat fw100">info@luovat.com</p>
                <p class="montserrat fw100">0405602141</p>
                <p class="montserrat fw100">2345667-0</p>
            </div>
            <div class="col-md-3 col-md-offset-4">
                <p style="float:right;">
                    <a href="#order" class="white m10"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                    <a href="#rekry" class="white m10"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                    <a href="#company" class="white m10"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                    <a href="#company" class="white m10"><i class="fa fa-vimeo" aria-hidden="true"></i></a>  
                </p>      
            </div>
        </div>
        <script type="text/javascript" src="/javascripts/dist/controller/mainController.js" async></script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99329231-2"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-99329231-2');
        </script>
    </body>
</html>
