@white:#FFF;
@gray:#3F3F3F;
@darkgray:#324A5F;
//@blue:#7F95D1;
@darkblue:#1B2A41;
//@green:#449b77;
@darkgreen:#285140;
@black:#18020C;
@mgray:#e0e2e5;

@green:#5B9879;
@blue: #7AD2D9;
@beige:#F3D69B;
@yellow:#F6DA83;

@warn:#dd6565;
@success:#65dd8d;

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
@import url('https://fonts.googleapis.com/css?family=Plaster');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700,800,900');


@opensans: 'Open Sans Condensed', sans-serif;
@roboto: 'Roboto', sans-serif;
@reem: 'Reem Kufi', sans-serif;
@montserrat:'Amatic SC', cursive;
@plaster:'Plaster', cursive;
@montserrat: 'Montserrat', sans-serif !important;


.roboto{
    font-family: @roboto;
}
.opensans{
    font-family: @opensans;
}
.plaster{
    font-family: @plaster !important;
}
.montserrat{
    font-family: @montserrat ;
}
.fw100{
    font-weight: 100 !important;
}
.fw300{
    font-weight: 300 !important;
}
.fw400{
    font-weight: 400 !important;
}
.fw700{
    font-weight: 700 !important;
}
.fw800{
    font-weight: 800 !important;
}
.fw900{
    font-weight: 900 !important;
}
h1{
    font-family: @montserrat !important;
}
h2{
    font-family: @montserrat !important;
}
h3{
    font-family: @montserrat !important;
}
h4{
    font-family: @montserrat !important;
}
h5{
    font-family: @roboto;
    font-style: italic;
}
h6{
    font-family: @montserrat !important;
    font-size: 15px !important;
}
p{
    font-family: @roboto;
    font-weight: 100;
    font-size: 16px;
}
body, html, #mainApp {
    height: 100%;
    width:100%;
}
input, textarea, .form-control {
    border: none !important;
    background: transparent !important;
}
.btn-display{
    background: transparent;
}
.badge-luovat{
    border:1px solid @white;
    padding:5px;
    border-radius: 20px;
}
.btn-play{
    color:@blue;
    font-size:130px;
}
.btn-play:hover{
    color:#285140;
}
.bg-beige{
    background: @beige;
}
.bg-black{
    color:@white;
    background:black;
}
.bg-blue{
    background: @blue;
    color: white !important;
}
.bg-yellow{
    background: @yellow;
    color:@black !important;
}
.bg-white{
    color:@black;
    background: @white;
}
.bg-paper{
    background-image:url('../images/paper-blue.jpg');
    background-size: cover;
}
.black{
    color:@black !important;
}
.blue{
    color:@blue !important;
}
.blue-curtain{
  display: block;
  position: absolute;
  height: 120%;
  width: 120%;
  top:0px;
  left:0px;
  background-color: rgba(122, 210, 217, 0.6);
}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%)
}
.centered-ud{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    margin-left: 100px;
}
@media (max-width:767px){
    .centered-ud{
        margin-left: 100px;
        top:50%;
        transform: translateY(-50%);
        margin-left: auto;
        text-align: center;
    }
}
.company_bg{
    background-image: url('../images/luovat_bg_2.jpg');
    background-size: cover;
}
.green-curtain{
  display: block;
  color:white;
  position: absolute;
  height: 100%;
  width: 100%;
  top:0px;
  left:0px;
  background-color: rgba(68, 155, 119, 0.45);
}
.gradient {
    background: black; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, @beige); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, @beige); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, @beige); /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, @beige); /* Standard syntax */
}
.row100{
    min-height:100%;
}
.gray{
    color:@gray;
}
.giant{
    font-family: @plaster !important;
    font-size: 90px !important;
    padding-top:40px;
    text-transform: uppercase !important;
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
    background-image: url('../images/luovat_bg_l.jpg');
    background-size: cover;
    background-position: center;
    width:130px;
    height:130px;
    border-radius: 100px;

}
.green-line{
    height:6px;
    background: @blue;
    width:100%;
}
#luovat-navbar{
    background: rgba(0,0,0,0.0);
    color:white;
    border:none;
}
.m5{
    margin:5px !important;
}
.m10{
    margin:10px !important;
}
.m20{
    margin:20px !important;
}
.m30{
    margin:30px !important;
}
.p5{
    padding: 5px !important;
}
#main{
    height:100%;
    background-image: url('../images/main-bg.jpg');
    background-attachment: fixed;
    background-size:cover;
}
.bg-green{
    background: @blue !important;
}
.bg-main{
    background-image: url('../images/luovat_bg_4s.jpg');
    background-size: cover;
}
.bg-team{
    background-image: url('../images/team2.jpg');
    background-size: cover;
    background-position: center;
}
.gray-curtain{
    background: rgba(110,110,130,0.4);
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
.gray-curtain2{
    background: rgba(110,110,130,0.9);
    position:absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}
.mgray{
    color:@mgray;
}
.mgray_bg{
    background:@mgray;
}
.mini{
    >h3{
        font-size: 20px!important;
        font-weight:bold;
    }
    >p{
        font-size:14px!important;
    }
}
.mud60{
    margin-top: 60px;
    margin-bottom: 60px !important;
}
.navigation-container{
    position: fixed;
    padding:10px;
    color:@gray;
}
.order-form-input{
    background: #FFF !important;
    border:2px solid rgba(0,0,0,0.16) !important;
    height:30px;
    margin:0px;
    color:@blue !important;
    text-align: left;
    border-radius: 14px !important;
}
.order-form-input-area{
    background: #FFF !important;
    border:1px solid rgba(0,0,0,0.1) !important;
    border-radius: 14px !important;
    margin:0px;
    color:@blue !important;
    text-align: left;
}
.order-form-button{
    border:3px solid @blue;
    background: @blue;
    height:30px;
    color:@white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin:0px;
}
.order-form-button-left{
    border:3px solid @blue;
    background: @blue;
    height:30px;
    color:@white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin:0px;
}
.package-container{
    height:300px;
    width:100%
}
.package-size-img{
    height:100px;
    margin-top:40px;
    margin-bottom: 30px;
}
.p5{
    padding:5px !important;
}
.p10{
    padding:10px !important;
}
.p20{
    padding:20px !important;
}
.p30{
    padding:30px !important;
}
.p60{
    padding:60px !important;
}
.p120{
    padding:60px !important;
}
.price{
    font-size: 40px !important;
}
.r-m{
    padding-top:70px;
    padding-bottom: 70px;
}
.r-mm{
    padding-top:140px;
    padding-bottom: 140px;
}

.rekry_bg{
    background-image: url('../images/luovat_bg_2.jpg');
    background-size: cover;
    height: inherit;
}
#slogan{
    padding-top: 170px;
    padding-bottom: 50px;
}
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 100%; 

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.video-row{
    height:400px;
}
.white{
    color:#EEE;
}
.green{
    color:@blue;
}
//BOOTSRAP

.badge{
    font-size: 30px !important;
    color:@darkblue !important;
    border:1px solid rgba(0,0,0,0.2);
    background: #FFF;
}
.btn-checkbox{
    background:transparent !important;
    border: 2px solid @blue !important;
    height:28px;
    width: 28px;
    font-size: 26px !important;
    color:@blue !important;
    padding:0px !important;
    >i{
        transform: translateY(-8px)
    }
}
.btn-play{
    height:80px;
    width: 80px;
    margin-top: 30px;
    font-size: 30px !important;
    border: 4px solid @white !important;
    border-radius: 200px !important;
    background: transparent !important;
}
.btn-play:hover{
    height:100px;
    width: 100px;
    font-size: 40px !important;
    color:@blue !important;
    margin-top: 10px;
    transform: translateY(10px);
    border: 15px double @blue!important;
}
.btn-luovat{
    background: transparent;
    border: 2px solid @blue !important;
    border-radius: 200px !important;
    min-width:110px;
    text-transform: uppercase;
    font-family: @reem;
    margin-left: 6px;
    margin-right: 6px; 
}
.btn-luovat-green{
    background: @blue;
    border: 2px solid @blue !important;
    border-radius: 200px !important;
    min-width:110px;
    text-transform: uppercase;
    font-family: @reem;
    margin-left: 6px;
    margin-right: 6px; 
    color: @white;
}
.btn-white{
    background: transparent;
    border: 2px solid @white !important;
    border-radius: 200px !important;
    min-width:110px;
    text-transform: uppercase;
    font-family: @reem;
    margin-left: 6px;
    margin-right: 6px; 
    color: @white;
}
.btn-white:hover{
    background: @white;
    border: 2px solid @white !important;
    border-radius: 200px !important;
    min-width:110px;
    text-transform: uppercase;
    font-family: @reem;
    margin-left: 6px;
    margin-right: 6px; 
    color: @blue;
}
.btn-luovat-dark{
    background: transparent;
    border: 2px solid @black!important;
    border-radius: 200px !important;
    min-width:110px;
    text-transform: uppercase;
    font-family: @reem;
    margin-left: 6px;
    margin-right: 6px;
    color:@black;
}
.btn-luovat-dark:hover{
    background: @black;
    color:white !important;
}
.btn-luovat-green:hover{
    background: @white;
    color:@blue !important;
}
.btn-luovat:hover{
    background: @blue;
    color:white !important;
}
@media (max-width:767px){
    .btn-luovat{
        width:90%;
        margin-bottom:10px !important; 
    }
}
@media (max-width:1010px){
    .hide1010{
        display: none;
    }
}
.btn-page-link{
    background: transparent !important;
    border: 2px solid @blue !important;
    border-radius: 10px !important;
    color:@blue;
    font-size: 14px !important;
    font-family: @roboto;
    margin:10px !important;
}
.btn-page-link:hover{
    background: @blue !important;
    border: 2px solid @white !important;
    border-radius: 10px !important;
    color:@white !important;
    font-size: 14px !important;
    font-family: @roboto;
    margin:10px !important;
}
.btn-link{
    color:@blue !important;
}
.btn-success{
    background: @blue !important;
}
.btn-blue{
    background: @blue !important;
    color:#eee;
    font-weight: 700;
}
.btn-danger-shallow{
    background: transparent !important;
    border: 2px solid @warn !important;
    padding:15px !important;
    padding-top:7px !important;
    padding-bottom:7px !important;
    border-radius: 10px !important;
    color:@warn;
    font-size: 18px !important;
    font-family: @roboto;
    font-weight: 100px;
    margin:10px !important;
}
.btn-primary-shallow{
    background: transparent !important;
    border: 2px solid @blue !important;
    padding:15px !important;
    padding-top:7px !important;
    padding-bottom:7px !important;
    border-radius: 10px !important;
    color:@blue;
    font-size: 18px !important;
    font-family: @roboto;
    font-weight: 100px;
    margin:10px !important;
}
.btn-success-shallow{
    background: transparent !important;
    border: 2px solid @blue !important;
    padding:15px !important;
    padding-top:7px !important;
    padding-bottom:7px !important;
    border-radius: 10px !important;
    color:@blue;
    font-size: 18px !important;
    font-family: @roboto;
    font-weight: 100px;
    margin:10px !important;
}
.btn-danger-shallow:hover{
    padding:17px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin:9px !important;
    color:@warn !important;
}
.btn-primary-shallow:hover{
    padding:17px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin:9px !important;
    color:@blue !important;
}
.btn-success-shallow:hover{
    padding:17px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin:9px !important;
    color:@blue !important;
}
.edit-order{
    >.well{
        min-height:120px;
        border-radius: 15px !important;
    }
}
.jumbotron{
    background: transparent !important;
    color: #EEE !important;
    margin-top:180px;
    margin-bottom: 60px;
    >p{
        font-size:18px !important;
    };
    >h1{
        font-size: 56px !important;
    }
}
.landing-h1{
    font-size: 70px !important;
}
@media (max-width:767px){
    .landing-h1{
        font-size: 50px !important;
    }
}
.navbar{
    width:100% !important;
}
.navbar-brand{
    font-family: @opensans !important;
    text-transform: uppercase;
    font-size:14px !important;
}
.navbar-nav{
    font-family: @reem !important;
    padding: 12px !important;
}
.nav-page-link{
    padding: 6px !important;
    color:white;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top:5px;
    margin-bottom: 5px;
    font-size: 14px;
}
.nav-page-link:hover{
    padding: 2px !important;
    border-bottom: 3px solid @blue;
    color:white;
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-top:5px;
    margin-bottom: 5px;
    background: transparent !important;
}
.active{
    >.nav-page-link{
        padding: 2px !important;
        border-bottom: 3px solid @blue;
        color:white;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-top:5px;
        margin-bottom: 5px;
        background: transparent !important;
    }
    >.nav-page-link:hover{
        padding: 2px !important;
        border-bottom: 3px solid @blue;
        color:white;
        padding-left: 10px !important;
        padding-right: 10px !important;
        margin-top:5px;
        margin-bottom: 5px;
        background: transparent !important;
    }
}

.nav-some-link{
    color:@blue;
    font-size: 16px !important;
    padding-left: 6px !important;
    padding-right: 6px !important;
}
.panel{
    border:none !important;
    background: #EEE !important;
}
.panel-primary{
    border:none !important;
}
.panel-heading{
    background: @blue !important;
    border: 2px solid @blue !important;
    border-radius: 10px !important;
    color:#EEE !important;
    font-size: 18px !important;
    font-family: @roboto;
    font-weight: 100px;
}
#well-s{
    background: @white;
    //background-image:url('../images/luovat_bg_s.jpg');
}
#well-m{
    background: @white;
    //background-image:url('../images/luovat_bg_m.jpg');  
}
#well-l{
    background: @white;
    //background-image:url('../images/luovat_bg_l.jpg');
}
.well-order{
    width:100%;
    height:500px;
    overflow: hidden;
    margin-top:20px;
    border-radius: 15px !important;
    cursor: pointer;
}
.well-order-inner{
    width: 100%;
    height: 100%;
    color:@black !important;
    border-radius: 15px !important;
    background-color: @white; /* fallback color */
    // background-image: url("../images/luovat_bg_3.jpg");
    background-position: center;
    background-size: cover;
    transition: all .5s;
}
.well-order-content{
    padding:20px;
    position: absolute;
    top:10px;
    border-radius: 15px !important;
    line-height: 240%;
}
.well-order-inner::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  border-radius: 15px !important;
  top:0px;
  left:0px;
  background-color: rgba(0,0,0, 0.0);
}

.well-order:hover .well-order-inner:before,
.well-order:focus .well-order-inner:before {
  display: block;
}
.well-order:hover .well-order-inner,
.well-order:focus .well-order-inner {
  transform: scale(1.2);
}
.well-white{
    background: #FFF !important;
}
@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
}


